
<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
     
    <div>
        <p>Hello <b>{Name}</b></p>
        <p>Your registration with following details has been done!</p>
        <p>Name:{Name}</p>
        <p>Email:{Email}</p>
        <p>Referrer:{optionReferrer}</p>
        <p>Account Type:{AccountType}</p>
        <p>Coupon:{Coupon}</p>
        <p>
            Thanks from GTMetrix Team!
        </p>
    </div>
</body>
</html>

